#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: auto;
  gap: 19.771px;
  text-align: center;
  flex-shrink: 0;
  margin-bottom: 64px;
}

#footer > span {
  color: #929292;
  font-family: "Noto Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
